
.grid{
	stroke: lightgray;
}

.grid path {
    stroke-width: 0;
}

.caffeineLine, .alcoholLine{
	fill: none;
	stroke-width: 2;
}

#chartContainer{
	position: absolute;
	top: 50px;
	bottom: 0;
	width: 100%;
}